nav {
  color: #ffffff;
  background-color: #4056A1;
  padding: 1.5rem;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100%;
  display: flex;
  
}

nav img {
  height: 20px;
  width: 20px;
  margin-left: 60px;
  margin-top: 10px;
}
nav .composeNewTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
}

.fixed-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  height: 200px;
  width: 200px;
  
}
.brand {
  font-family: "Bungee";
  font-size: 50px;
  
}

.compose {
  font-family: "Source Sans Pro";
  font-size: 20px;



}

