 /* BLUE NAV BAR ACROSS TOP OF PAGE */
nav {
  color: #ffffff;
  padding: 1.5rem;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100%;
  display: flex;
  
}

 /* TUCAN IMG THAT TOGGLES NEW TWEET ENTRY */
nav img {
  height: 20px;
  width: 20px;
  margin-left: 60px;
  margin-top: 10px;
}
nav img:hover {
  cursor: pointer;
}
/* MAKE THE TUCAN DANCE*/
@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
.tucan {
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

 /* FORM FOR NEW TEST ENTRY */
nav .composeNewTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
}
/* CONTAINER FOR : "TWEETER + Compose New Tweet" */
.fixed-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-family: "Bungee";
  font-size: 50px;
}
.compose {
  font-family: "Source Sans Pro" , serif;
  font-size: 20px;
}

