section {
  font-family: Bungee;
}
textarea {
  display: flex;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 3px solid  #444340;
  background-color: #f4f1ec;
  margin-top: 10px;
  font-family: "Source Sans Pro";
  font-style: italic;
  align-content: center;
  height: 50px;
  color:  #444340;
  resize: none;
  outline: 0 !important;
}

/* .tweet {
  margin-left: 0;
}  */

.flexBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: Bungee;
  margin-top: 10px;
  font-size: 20px;

}

.tweet {
  background-color: #4056A1;
  color: white;
}

::placeholder {
  color: black;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
}